.bookmark-list-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 0.5em;
	height: 100%;
}

.bookmark-list-container li a {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	height: 100%;
}

.bookmark-list-container .first-item a {
	gap: 0px;
}
.bookmark-list-container li div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bookmark-list-container li div img {
	width: 1.8rem;
	height: 1.8rem;
	cursor: pointer;
}
.bookmark-list-container .first-item div img {
	width: 2.2rem;
	height: 2.2rem;
}
.bookmark-list-container .bookmark-title {
	font-size: 0.9rem;
	color: #4c51a7;
}

.first-item .bookmark-title {
	font-weight: 800;
}

@media screen and (max-width: 1160px) {
	.bookmark-list-container .bookmark-title {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 880px) {
	.bookmark-list-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
