@import "./style.css";

.time-weather-section {
	background-color: var(--primary-color);
	border-radius: 1rem;
	display: flex;
	height: 300px;
}

.time-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50%;
	border-radius: 0 1rem 0 0;
	border-left: 1px solid var(--grey-border);
	border-bottom: 1px solid var(--grey-border);
	width: 50%;
}

.time {
	color: #276ef7;
	font-size: 2rem;
	font-weight: 700;
}

.persian-date {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 800;
}

.calendars {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.calendars .spacer {
	color: #cccccc;
}

.islamic-date,
.gregorian-date {
	color: #858f97;
	font-size: 0.6rem;
	padding: 0.3rem;
	text-align: center;
	direction: ltr;
	font-weight: bold;
}

.islamic-date {
	width: 50%;
}

.options {
	display: flex;
	align-items: center;
	justify-content: center;
}

.options > select {
	border-radius: 16px;
	border: 0.5px solid var(--grey-border);
	height: 1.5rem;
	margin: 0.3rem;
	font-size: 0.7rem;
	color: #637db3;
}

.weather-section {
	border-bottom: 1px solid var(--grey-border);
	height: 50%;
	width: 50%;
}
.weather-section .top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.weather-section .description {
	display: flex;
	flex-direction: row;
}

.max-min-temp {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 0.3rem;
	color: #858f97;
	margin: 0.3rem;
}
.max-temp-value,
.min-temp-value {
	font-size: 0.9rem;
	font-weight: 800;
}

.temp-value {
	color: #858f97;
	font-size: 32px;
	font-weight: 700;
}
.temp-title {
	font-size: 0.8rem;
	font-weight: 300;
}

.weather-icon img {
	width: 48px;
	height: 48px;
}

.description-title {
	color: var(--secondary-color);
	font-size: 0.7rem;
	font-weight: 800;
}

.description {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	margin: 0 0.2rem;
}
.description img {
	width: 20px;
	height: 20px;
}

/* .options .forcast-title {
	justify-content: center;
} */

@media screen and (max-width: 880px) {
	.time-weather-section {
		height: auto;
	}

	.time-section,
	.weather-section {
		border-bottom: none;
	}
}
