@import "./style.css";

/* Search Section */
.search-fav-section {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1fr 7fr;
}

.search-section {
	background-color: var(--primary-color);
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-section form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--grey-color);
	width: 90%;
	border-radius: 6rem;
	height: 50%;
	padding: 0 0.3rem;
}

.search-section input {
	width: 80%;
	border: none;
	background-color: var(--grey-color);
	outline: none;
	height: 100%;
}

.search-section input::placeholder {
	color: #b2b2b2;
	font-size: 0.75rem;
	font-weight: 500;
	height: 100%;
}

.search-section button {
	background-color: #3d518f;
	border: none;
	border-radius: 6rem;
	margin: 0.1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.8rem;
}
.search-section button img {
	width: 1rem;
	height: 1rem;
}

/* Fav Section */

.fav-list-container {
	margin: 0.5rem 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5em;
}
.fav-list-container li {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	height: 5.4rem;
	gap: 0.7rem;
}
.fav-list-container .first-item {
	gap: 0px;
}
.fav-list-container li div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fav-list-container li div img {
	width: 1.8rem;
	height: 1.8rem;
	cursor: pointer;
}
.fav-list-container .first-item div img {
	width: 2.2rem;
	height: 2.2rem;
}
.fav-list-container .fav-title {
	font-size: 0.8em;
	color: #21234d;
}

.first-item .fav-title {
	font-size: 1rem;
	font-weight: 800;
}
