@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Vazirmatn", sans-serif;
}

html {
	background-color: #c4def7;
}

.container {
	max-width: 1124px;
}
