@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primary-color: #ffffff;
	--secondary-color: #000000;
	--grey-color: #f3f4f6;
	--grey-border: #f0f1f4;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Vazirmatn", sans-serif;
}

html {
	background-color: #c4def7;
}

li {
	list-style: none;
}

.container {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 0.5rem;
	max-width: 1124px;
	margin: 1rem auto;
}

.todo-section {
	height: 39.625rem;
	border-radius: 1rem;
}

@media screen and (max-width: 1160px) {
	.container {
		margin: 1rem;
	}
}

@media screen and (max-width: 880px) {
	.container {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
		max-width: 32rem;
		margin: 1rem auto;
	}
	.search-fav-section {
		order: -1;
	}

	.todo-section {
		order: 1;
	}
}

@media screen and (max-width: 576px) {
	.container {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
		margin: 1rem;
	}
	.search-fav-section {
		order: -1;
	}
}

@media screen and (max-width: 340px) {
	.container {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}
	.search-fav-section {
		order: -1;
	}
}
