@import "./style.css";

.time-weather-section {
	flex-direction: row;
	height: 60%;
	overflow: hidden;
}

.time-section,
.weather-section {
	flex-direction: column;
	border-radius: 0 1rem 0 0;
	border-bottom: 1px solid var(--grey-border-color);
	width: 50%;
}

.time-section {
	border-left: 1px solid var(--grey-border-color);
}
.time {
	color: var(--blue-color);
	font-size: 2rem;
	font-weight: 800;
}

.persian-date {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 800;
}

.calendars {
	align-items: flex-start;
	justify-content: space-between;
}
.calendars .spacer {
	color: var(--light-grey-color);
}

.islamic-date,
.gregorian-date {
	color: var(--blue-grey-color);
	font-size: 0.5rem;
	padding: 0.3rem;
	text-align: center;
	direction: ltr;
	font-weight: 800;
}

.islamic-date {
	width: 50%;
}

.options > select {
	border-radius: 1rem;
	border: 0.5px solid var(--grey-border-color);
	margin: 0.2rem;
	font-size: 0.6rem;
	color: var(--indigo-color);
	width: fit-content;
}
.weather-section .top {
	flex-direction: row;
	gap: 1rem;
}
.weather-section .description {
	flex-direction: row;
}

.max-min-temp {
	flex-direction: row;
	justify-content: space-around;
	gap: 0.3rem;
	color: var(--blue-grey-color);
	margin: 0.3rem;
}
.max-temp-value,
.min-temp-value {
	font-size: 0.8rem;
	font-weight: 800;
}

.temp-value {
	color: var(--blue-grey-color);
	font-size: 2rem;
	font-weight: 700;
}
.temp-title {
	font-size: 0.7rem;
	font-weight: 400;
}

.weather-icon img {
	width: 48px;
	height: 48px;
	filter: drop-shadow(0 0 0.5rem var(--blue-color));
}

.description-title {
	color: var(--secondary-color);
	font-size: 0.8rem;
	font-weight: 800;
}

.description {
	flex-direction: row;
	gap: 0.2rem;
	margin: 0 0.2rem;
}
.description-emoji {
	font-size: 0.8rem;
}

@media screen and (max-width: 920px) {
	.time-weather-section {
		height: auto;
	}

	.time-section,
	.weather-section {
		border-bottom: none;
	}
}
