@import "./style.css";

.todo-section {
	flex-direction: column;
	justify-content: space-between;
}

.transition-0 {
	transform: translateY(-100%);
	opacity: 0;
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.transition-1 {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.todo-section > div,
.todo-section > ul {
	padding: 1rem 0.5rem;
}

.todo-section .top {
	justify-content: space-between;
}
.todo-section .top .todo-header {
	color: var(--secondary-color);
	font-family: var(--main-font);
	font-size: 1.5rem;
	font-weight: bold;
}
.todo-section .top .icon {
	border-radius: 8px;
	background-color: var(--grey-color);
	width: 32px;
	height: 32px;
}
.todo-section .top .icon img {
	width: 20px;
	height: 20px;
}

hr {
	border: 0.5px solid var(--grey-border-color);
}

.todo-section .tasks-list-container {
	flex-direction: column;
	flex: 1;
	overflow: auto;
}

.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	border-radius: 10px;
	border: 1px solid var(--grey-border-color);
	padding: 4px;
	margin-bottom: 8px;
}
.task-item:hover .icons {
	opacity: 1;
}
.task-item .icons {
	gap: 16px;
	margin: 4px;
	opacity: 0;
	transition: all 0.3s ease;
}
.task-item .icons div {
	cursor: pointer;
}

.icons div img {
	width: 1.5rem;
	height: 1.5rem;
}
.task-item .done {
	width: 20px;
	height: 20px;
	border-radius: 6px;
	border: 1px solid #73ce8a;
	background: #cef0d9;
}

.task-title {
	color: #2b2b63;
	font-size: 1rem;
	font-weight: 500;
	margin-left: auto;
	max-width: 50%;
}

.new-task {
	width: 252px;
}

.new-task-form {
	justify-content: space-between;
	border-radius: 6px;
	border: 2px solid var(--grey-border-color);
	padding: 4px;
	height: 40px;
}

.new-task-form button {
	background: none;
	border: none;
	cursor: pointer;
}

.new-task-form button img {
	width: 20px;
	height: 20px;
}

.new-task-form input {
	background: none;
	border: none;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
}

.new-task-form input:focus {
	outline: none;
}

.new-task-form input::placeholder {
	color: var(--light-grey-color);
	text-align: right;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
}

.new-task {
	width: auto;
}
