@import "./style.css";

.todo-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--primary-color);
	width: 273px;
	height: 634px;
	border-radius: 16px;
	margin: 1rem;
	border-radius: 10px;
}

.todo-section > div,
.todo-section > ul {
	padding: 1rem 0.5rem;
}

.todo-section .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.todo-section .top .todo-title {
	color: var(--secondary-color);
	font-family: Vazirmatn;
	font-size: 20px;
	font-weight: bold;
}
.todo-section .top .icon {
	display: flex;
	border-radius: 8px;
	background: var(--grey-color);
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
}
.todo-section .top .icon img {
	width: 20px;
	height: 20px;
}

hr {
	border: 0.5px solid var(--grey-border);
}

.todo-section .tasks-list-container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.task-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	border-radius: 10px;
	border: 0.5px solid #babdc6;
	padding: 4px;
	margin-bottom: 8px;
}
.task-item:hover .icons {
	opacity: 1;
}
.task-item .icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	margin: 4px;
	opacity: 0;
	transition: all 0.3s ease;
}
.task-item .icons div {
	cursor: pointer;
}
.task-item .icons div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.task-item .done {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border-radius: 6px;
	border: 1px solid #73ce8a;
	background: #cef0d9;
}

.task-title {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: bold;
	margin-left: auto;
	max-width: 50%;
}

.new-task {
	width: 252px;
}

.new-task-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	border: 2px solid #babdc6;
	padding: 4px;
	height: 40px;
}

.new-task-form button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-task-form button img {
	width: 20px;
	height: 20px;
}

.new-task-form input {
	background: none;
	border: none;
	width: 100%;
}

.new-task-form input:focus {
	outline: none;
}

.new-task-form input::placeholder {
	color: #94a3b8;
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
}

.new-task {
	width: auto;
}
